html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.footer-bawah {
	width: 100%;
	height: 70px;
	background-color: #060606;
}

.footer-bawah p {
	text-align: center;
	line-height: 70px;
	color: #fff;
	margin: 0;
}

.r1 {
	padding-top: 50px;
	padding-bottom: 12px;
	color: #000;
	text-align: center;
}

.line1-r1 {
	height: 1px;
	width: 80%;
	background-color: #555;
}

.line1-r2 {
	height: 5px;
	width: 310px;
	background-color: #00A0E8;
	margin-top: -3px;
}

.r2 {
	margin-top: 30px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}

.r2-c1 {
	width: 300px;
	height: 300px;
	margin-top: 30px;
}

.r2-c2 {
	width: 300px;
	height: 300px;
	margin-top: 30px;
}

.r2-c3 {
	width: 300px;
	height: 300px;
	margin-top: 30px;
}

.r2-c4 {
	width: 300px;
	height: 300px;
	margin-top: 30px;
}

.r2 h3 {
	color: #000;
	margin-top: 10px;
}

.r2 p {
	color: #000;
	margin-top: 10px;
}

#r3 {
	width: 100%;
	height: auto;
	min-height: 600px;
	padding: 0;
	margin-top: 80px;
	background: linear-gradient(180deg, #000, rgba(60, 60, 60, 0.34) 100%), url('../../img/r3.jpg');
	background-position: center;
	background-size: cover;
	/* z-index: 9999; */

}

#r3 h2 {
	text-align: center;
	color: #fff;
	margin: 0;
	margin-top: 50px;
}

.r3-c1 {
	margin: 0;
    padding: 0;
}

.r3-c1 img {
	margin-top: -5.5px;
    padding: 0;
    min-width: 2000px;
    /* width: 100%; */
    /* width: 100%; */
    /* height: 3vh;
    min-height: 30px; */
}

.r3-c2 {
	padding-top: 45px;
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.r3-c3 {
	margin: 30px;
	height: auto;
}

.r3-c3 img {
	transition: 0.5s;
	width: 280px;
}

.r3-c3 img:hover {
	transform: scale(1.3);
}

.r3-c4 img {
	transition: 0.5s;
	width: 280px;
}

.r3-c4 img:hover {
	transform: scale(1.3);
}

.r3-c5 img {
	transition: 0.5s;
	width: 280px;
}

.r3-c5 img:hover {
	transform: scale(1.3);
}

.r3-c3 h3 {
	color: #fff;
	margin: 0;
	padding-bottom: 30px;
}

.r3-c4 h3 {
	color: #fff;
	margin: 0;
	padding-bottom: 30px;
}

.r3-c5 h3 {
	color: #fff;
	margin: 0;
	padding-bottom: 30px;
}

.r3-c3 a {
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #00A0E8;
	transition: 0.3s;

}

.r3-c3 a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	background-color: #00A0E8;
}

.r3-c4 a {
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #00A0E8;
	transition: 0.3s;

}

.r3-c4 a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	background-color: #00A0E8;
}

.r3-c5 a {
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	border: 2px solid #00A0E8;
	transition: 0.3s;

}

.r3-c5 a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	background-color: #00A0E8;
}

.r3-c4 {
	margin: 30px;
}

.r3-c4 h3 {
	color: #fff;
	margin: 0;
}

.r3-c5 {
	margin: 30px;
}

.r3-c5 h3 {
	color: #fff;
	margin: 0;
}

#r4 {
	width: 100%;
	height: auto;
    min-height: 600px;
    padding-bottom: 40px;
	/* background-color: lightblue; */
	overflow: hidden;

}

.r4-a1 {
	width: 300px;
	margin-top: -150px;
	margin-left: -150px;
	float: left;
}

#r4 h2 {
	text-align: center;
	width: 100%;
	height: auto;
	color: #000;
	margin-left: -150px;
	margin-top: 40px;
	font-weight: bold;
}

.r4-c1 {
	width: 100%;
	height: auto;
	min-height: 300px;
	/* background-color: blue; */
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.r4-c2 {
	width: 300px;
	height: auto;
	margin: 20px;

}

.r4-c2 img {
	width: 200px;
	transition: 0.5s;
	margin-bottom: 20px;
}

.r4-c2 img:hover {
	transform: scale(1.3);
}

.r4-c3 {
	width: 100%;
	height: auto;
	/* background-color: yellow; */
	padding-left: 100px;
	padding-right: 100px;
}

.r4-c3 p {
	font-size: 20px;
	color: #000;
}

.r4-c3 p span {
	font-size: 50px;
}

.r4-c4 {
	text-align: center;
	margin-top: 20px;
	width: 100%;
	height: 30px;
	/* background-color: yellow; */

}

.r4-c4 p {
	font-size: 25px;
	color: #000;
    font-weight: bold;
    /* margin-bottom: 500px; */
	/* background-color: red; */


}

.r4-c4 img {
	width: 300px;
	float: right;
	margin-right: -150px;
    margin-top: -120px;
    /* margin-bottom: 500px; */
	/* background-color: red; */
}

#r5 {
	width: 100%;
	height: auto;
	min-height: 600px;
	padding-top: 30px;
	/* padding: 0; */
	/* margin-top: 80px; */
	background: linear-gradient(180deg, #000, rgba(60, 60, 60, 0.34) 100%),
		url('../../img/r5.jpg');
	background-position: center;
	background-size: cover;
}

#r5 h2 {
	text-align: center;
	color: #fff;
}

.r5-c6 img {
	width: 100%;
	height: 90px;
	/* background-color: blue; */
	margin-top: 92px;
}

#r6 {
	width: 100%;
	height: auto;
	min-height: 600px;
	/* padding-top: 30px; */
	/* padding: 0; */
	/* margin-top: 80px; */
	background: url('../../img/r6.png');
	background-position: center;
	background-size: cover;
}

/* .r4-a2 {
    float: right;
    width: 300px;
    margin-right: -150px;
} */