#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background: #2196f3;
    color: #fff;
    box-shadow: 1px 1px 3px #000;
    border: none;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    z-index: 3;
}

#topBtn:hover {
    border: 3px solid #2196f3;
    color: #2196f3;
    background-color: #fff;
}