body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #004463;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar .navbar:hover {
    color: #f1f1f1;
    background-color: #00A0E8;

}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .closebtn:hover {
    color: #fff;
}
.img-navbar{
    width: 30px;
}
.openbtn {
    font-size: 31px;
    cursor: pointer;
    background-color: #00A0E8;
    color: white;
    padding: 10px 20px;
    /* margin-top: 20px; */
    border: none;
    transition: 0.1s;
    float: left;
}

.openbtn:hover {
    background-color: #108DC5;
}

#header {
    transition: margin-left .5s;
    /* padding: 20px; */
    height: 67px;
    /* background-color: #00A0E8; */
    background-color: #00A0E8;
    /* display: flex; */
    width: 100%;
}

.profil-header {
    float: right;
    /* width: 250px; */
    height: 66px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: auto; */
    background-color: #00A0E8;
    display: flex;
    align-items: center;
    transition: 0.1s;
}

.profil-header:hover {
    cursor: pointer;
    background-color: #108DC5;
}

.profil-header img {
    padding: 1px;
    width: 40px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 4px;
}
.profil-header h4 {
    font-weight: bold;
    color: #fff;
}
.profile{
    width: 300px;
    float: right;
}
#dashboard {
    transition: margin-left .5s;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: #E9E9E9;
}

.r1-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: green; */
    display: flex;
    /* padding: 20px; */
    justify-content: space-around;
    flex-flow: row wrap;

}

.r1d-l {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    /* display: flex; */
    /* justify-content: center; */
    transition: 0.5s;
}
.r1d-l:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}
.img-content {
    width: 130px;
    margin-top: 10px;
}
.text-content{
    margin-top: 5px;
}
.r1d-r {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r1d-r:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

.r2-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
}

.r2d {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r2d:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#000;
}

.r3-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: green; */
    display: flex;
    /* padding: 20px; */
    justify-content: space-around;
    flex-flow: row wrap;
}

.r3d-l {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r3d-l:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

.r3d-r {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r3d-r:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

#footer {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* 
#header {
    width: 100%;
    height: 90px;
    background-color: red;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}