#menu{
    transition: margin-left .5s;
    /* padding: 20px; */
    width: 100%;
    height: auto;
    /* min-height: 80vh; */
    padding: 30px;
    background-color: #E9E9E9;

}

.list1{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.right-list1{
    display: flex;
    align-items: center;

}
.right-list1 a img{
    transition: 0.2s;
    /* margin-left: 10px; */
    margin-right: 20px;
}

.right-list1 a img:hover{
    transform: scale(1.2);
}
.right-list1 img{
    width: 50px;
    margin-right: 10px;    
}

.list2{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.list2 a h5{
    margin: 5px 15px 5px 15px;
}

.content{
    width: 100%;
    height auto;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
}

.box{
    width: 250px;
    height: 280px;
    background-color: red;
    border: 5px solid #00A0E8;
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #555;
}

.box:hover{
    cursor: pointer;
    text-decoration: none;
}
.box img{
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    transition: 0.3s;
}
.box img:hover{
    transform:scale(1.1);    
}

.box h5{
    margin-top: -120px;
    width: 150px;
    position: relative;
    background-color: #00A0E8;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.box p{
    /* margin-top: -10px; */
    width: 150px;
    position: relative;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
}

.isi-modal{
    min-height: 350px;
    height: auto;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.isi-right{
    /* min-height: 400px; */
    height: 300px;
    width: 300px;
    /* background-color: yellow; */
    border: 5px solid #00A0E8;
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #555;
}
.isi-right img{
    width: 100%;
    min-height: 300px;
    /* max-height: 280px; */
    transition: 0.3s;
}
.isi-right img:hover{
    transform:scale(1.1);    
}

.isi-left{
    padding-top: 13px;
    min-height: 300px;
    height: auto;
    width: 300px;
    /* background-color: green; */
}

.isi-left h5{
    background-color: #00A0E8;
    border-radius: 5px;
}
.aksi{
    display: flex;
    justify-content: space-between;
}
/* .box{
    width: 250px;
    height: 280px;
    background-color: #fff;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #00A0E8;
    transition: 0.3s;
}

.box img{
    width: 100%;
    z-index: 0;
}

.box img:hover{
    transform:scale(1.1);    
    cursor: pointer;
}

.title1{
    background-color: green;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    z-index: 9;
    position: absolute;

}

.title2{
    background-color: green;
    padding: 2px;
    color: #fff;
    border-radius: 5px;
} */