#menu{
    transition: margin-left .5s;
    /* padding: 20px; */
    width: 100%;
    height: auto;
    /* min-height: 80vh; */
    padding: 30px;
    background-color: #E9E9E9;

}

.list1{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.right-list1{
    display: flex;
    align-items: center;

}
.right-list1 a img{
    transition: 0.2s;
    /* margin-left: 10px; */
    margin-right: 20px;
}

.right-list1 a img:hover{
    transform: scale(1.2);
}
.right-list1 img{
    width: 50px;
    margin-right: 10px;    
}

.list2{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.list2 a h5{
    margin: 5px 15px 5px 15px;
}

.content{
    width: 100%;
    height auto;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
}