body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 700px;
    background: linear-gradient(180deg, #000, rgba(60, 60, 60, 0.34) 100%),
        url('../img/r5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Poppins, sans-serif;
}

.login {
    text-align: center;
    width: 80%;
    height: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
}

.login h2 {
    /*margin: 0 0 20px;*/
    margin-bottom: 40px;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
}

.pertama {
    display: flex;
    width: 100%;
    /*height: 200px;*/
    height: auto;
    justify-content: space-between;
    /* background-color: red; */
}

.kiri {
    width: 300px !important;
    margin-right: 10px;
}

.kanan {
    width: 300px !important;
    margin-left: 10px;
}

.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.login .input-group input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid #555;
    transition: 0.3s;
    border-radius: 5px;

}

.login .input-group span {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0;
    transition: 0.5s;
    color: #555;
    pointer-events: none;
    background: #fff;
    text-transform: uppercase;
}

/*YANG BIKIN EFEK TULISANNYA BERUBAH NAIK KETIKA DIPENCET*/
.login .input-group input[name="login"]:focus,
.login .input-group input[name="login"]:valid {
    border: 1px solid #2196f3;
    /*box-shadow: 0px 0px 3px #2196f3;*/

    /*transform: scaleX(1.2);*/

}

.login .input-group input:focus~span,
.login .input-group input:valid~span {
    top: -20px;
    left: 10px;
    font-size: 12px;
    padding: 8px;
    /*border: 1px solid #000;*/
    color: #fff;
    background: #2196f3;
    border-radius: 3px;

}

.login .input-group input[type="submit"] {
    background: #fff;
    border: 1px solid #2196f3;
    color: #2196f3;
    transition: 0.2s;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.login .input-group input[type="submit"]:hover {
    background: #2195f3;
    color: #fff;
    /*transform: scaleX(1.1);*/
}

.login a {
    color: red;
    text-decoration: none;
    display: block;
    text-align: left;
}

.login a span {
    color: #272727;
    font-weight: 600;
}

button {
    border: none;
    width: 252px;
    height: 40px;
    border-radius: 5px !important;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #272727;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: arial;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

button:before {
    content: "";
    border-radius: 5px !important;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2196f3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media (max-width: 800px) {

    .login {
        /*display: none;*/
        margin-top: 10px;
        padding: 15px;
        width: 100%;
        /*background: rgba(200, 212, 249, 0.5);*/
        /*background: rgba(70, 178, 236, 0.15);*/

    }

    form {
        width: 100%;
        /*background-color: red;*/
    }
}

@media (max-width: 450px) {

    h2 {
        font-size: 20px;
        /* background-color: red; */
    }

    .login span {
        font-size: 13px;
        left: 8px;
    }

    .login .input-group input:focus~span,
    .login .input-group input:valid~span {
        font-size: 10px;
        padding: 4px;
        left: 5px;
    }

}