/* =========================== DASHBOARD ============================== */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar .navbar:hover {
    color: #f1f1f1;
    background-color: #00A0E8;

}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .closebtn:hover {
    color: #fff;
}
.img-navbar{
    width: 30px;
}
.openbtn {
    font-size: 31px;
    cursor: pointer;
    background-color: #00A0E8;
    color: white;
    padding: 10px 20px;
    /* margin-top: 20px; */
    border: none;
    transition: 0.1s;
    float: left;
}

.openbtn:hover {
    background-color: #108DC5;
}

#header {
    transition: margin-left .5s;
    /* padding: 20px; */
    height: 67px;
    background-color: #00A0E8;
    /* display: flex; */
    width: 100%;
}

.profil-header {
    float: right;
    /* width: 250px; */
    height: 66px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: auto; */
    background-color: #00A0E8;
    display: flex;
    align-items: center;
    transition: 0.1s;
}

.profil-header:hover {
    cursor: pointer;
    background-color: #108DC5;
}

.profil-header img {
    padding: 1px;
    width: 40px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 4px;
}
.profil-header h4 {
    font-weight: bold;
    color: #fff;
}
.profile{
    width: 300px;
    /* float: r; */
    position: absolute;
    right: 0px;
    /* background-color: red; */
}
.top-myprofile{
    background-color: #108DC5;
    min-height: 180px;
    width: 100%;
}
.top-myprofile img{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #00A0E8;
    border-radius: 100%;
    display: flex;
    /* justify-content: center; */
}
.top-myprofile p{
    text-align: center;
    color: #fff;
}
.bottom-myprofile{
    /* background-color: red; */
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#dashboard {
    transition: margin-left .5s;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: #E9E9E9;
}

.r1-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: green; */
    display: flex;
    /* padding: 20px; */
    justify-content: space-around;
    flex-flow: row wrap;

}

.r1d-l {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    /* display: flex; */
    /* justify-content: center; */
    transition: 0.5s;
}
.r1d-l:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}
.img-content {
    width: 130px;
    margin-top: 10px;
}
.text-content{
    margin-top: 5px;
}
.r1d-r {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r1d-r:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

.r2-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
}

.r2d {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r2d:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#000;
}

.r3-d {
    width: 100%;
    height: auto;
    min-height: 200px;
    /* background-color: green; */
    display: flex;
    /* padding: 20px; */
    justify-content: space-around;
    flex-flow: row wrap;
}

.r3d-l {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r3d-l:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

.r3d-r {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 180px;
    border-radius: 15px;
    background-color: #fff;
    /* border: 1px solid #555; */
    /* box-shadow: 1px 1px 15px#555; */
    transition: 0.5s;
}

.r3d-r:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px#555;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}







/* =========================== MENU ============================== */

#content{
    transition: margin-left .5s;
    /* padding: 20px; */
    width: 100%;
    height: auto;
    /* min-height: 80vh; */
    padding: 15px;
    background-color: #E9E9E9;
}

.list1{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.right-list1{
    display: flex;
    align-items: center;

}
.right-list1 a img{
    transition: 0.2s;
    /* margin-left: 10px; */
    margin-right: 20px;
}

.right-list1 a img:hover{
    transform: scale(1.2);
}
.right-list1 img{
    width: 50px;
    margin-right: 10px;    
}

.list2{
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.list2 a h5{
    margin: 5px 15px 5px 15px;
}

.content{
    width: 100%;
    height auto;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 5px;
}

.box{
    width: 250px;
    height: 280px;
    background-color: #555;
    border: 5px solid #00A0E8;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #555;
}

.box:hover{
    cursor: pointer;
    text-decoration: none;
}
.box img{
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    transition: 0.3s;
}
.box img:hover{
    transform:scale(1.1);    
}

.box h5{
    margin-top: -120px;
    width: 150px;
    position: relative;
    background-color: #00A0E8;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.box p{
    /* margin-top: -10px; */
    width: 150px;
    position: relative;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
}

.isi-modal{
    min-height: 350px;
    height: auto;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.isi-right{
    /* min-height: 400px; */
    height: 300px;
    width: 300px;
    /* background-color: yellow; */
    border: 5px solid #00A0E8;
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #555;
}
.isi-right img{
    width: 100%;
    min-height: 300px;
    /* max-height: 280px; */
    transition: 0.3s;
}
.isi-right img:hover{
    transform:scale(1.1);    
}

.isi-left{
    padding-top: 13px;
    min-height: 300px;
    height: auto;
    width: 300px;
    /* background-color: green; */
}

.isi-left h5{
    background-color: #00A0E8;
    border-radius: 5px;
}
.aksi{
    display: flex;
    justify-content: space-between;
}






/* =========================== DASHBOARD ============================== */

.list2-laporan{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 30px;
}




/* =========================== LIST_TRANSAKSI ============================== */

.list2-laporan{
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 30px;
}

.row1{
    min-height: 80px;
    height: auto;
    width: 100%;
    /* max-width: 280px; */
    /* background-color: blue; */
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;
}
.row1 img{
    width: 100px;
    min-width: 2vw;
    height: auto;
}
.row1 p{
    /* background-color: red; */
    font-size: 15px;
    /* max-width: 5px; */
    /* margin-left: 200px; */
    /* margin-right: 2px; */
    height: auto;
}
.row2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2 p{
    font-size: 20px;
    height: auto;
}
.row2 p b{
    font-size: 25px;
    height: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
}

.table>thead>tr,
.table>tbody>tr,
.table>tfoot>tr {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    color: #000;
    background-color: #C6E4FB;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table>thead>tr>th {
    font-weight: 400;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: #171717;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
    background: #fff;
}

.table .no-border {
    border: 0;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 0.8rem;
}

.table-bordered {
    border: 0;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f5f5f5;
}

@media screen and (max-width: 991px) {
    .table-responsive-vertical>.table {
        margin-bottom: 0;
        background-color: transparent;
    }

    .table-responsive-vertical>.table>thead,
    .table-responsive-vertical>.table>tfoot {
        display: none;
    }

    .table-responsive-vertical>.table>tbody {
        display: block;
    }

    .table-responsive-vertical>.table>tbody>tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }

    .table-responsive-vertical>.table>tbody>tr>td {
        background-color: #fff;
        display: block;
        /* vertical-align: middle; */
        text-align: right;
    }

    .table-responsive-vertical>.table>tbody>tr>td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }

    .table-responsive-vertical>.table-bordered {
        border: 0;
    }

    .table-responsive-vertical>.table-bordered>tbody>tr>td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .table-responsive-vertical>.table-bordered>tbody>tr>td:last-child {
        border-bottom: 0;
    }

    .table-responsive-vertical>.table-bordered>tbody>tr>td,
    .table-responsive-vertical>.table-bordered>tbody>tr:nth-child(odd) {
        background-color: #C6E4FB;
    }

    /* 
	.table-responsive-vertical>.table-bordered>tbody>tr>td:nth-child(odd) {
		background-color: #f5f5f5;
	} */

    .table-responsive-vertical>.table-hover>tbody>tr:hover>td,
    .table-responsive-vertical>.table-hover>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical>.table-hover>tbody>tr>td:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.table-striped.table-mc-red>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-red>tbody>tr:nth-child(odd)>th {
    background-color: #e9e9e9;
}

.table-hover.table-mc-red>tbody>tr:hover>td,
.table-hover.table-mc-red>tbody>tr:hover>th {
    /* background-color: #2196f3; */
    color: #000;
}







/* =========================== Order ============================== */

.content-order{
    width: 100%;
    height: auto;
    /* background-color: indigo; */
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
}
.content1-order{
    margin-top: 10px;
    margin-bottom: 10px;
    /* max-width: 850px; */
    width: 70%;
    /* width: 100%; */
    height auto;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.content-keranjang{
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: #fff;
}
.row-pagination{
    margin-top: 20px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2-order{
    margin-top: 10px;
    margin-bottom: 10px;
    /* min-width: 450px; */
    width: 29%;
    /* width: 100%; */
    height auto;
    min-height: 400px;
    background-color: #fff;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: space-evenly; */
    padding: 10px;
    border-radius: 5px;
}
.header1-form{
    width: 100%;
    height: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.header1-form b{
    font-size: 25px;
    color: #fff;
}
.header1-form b span{
    color: #00A0E8;
}

.tulisan-gerak{
    margin-top: -180px !important;
    display: flex;
    align-items: center;
    background-color: #000;
    /* padding: 5px 3px; */
    /* padding-top: 10px; */
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-family: arial;
    box-shadow: 10px 7px rgba(0,0,0,.3);
}
marquee{
    display: inline-block;
}
@media screen and (max-width: 1027px) {
    .content1-order{
        width: 100%;
    }
    .content2-order{
        width: 100%;
        margin-bottom: 30px;
    }
}






/* =========================== laporan ============================== */


.content-laporan{
	width: 100%;
	height: auto;
    /* min-height: 400px; */
    /* background-color: red; */
    display: flex;
    padding: 0px;
	flex-flow: row wrap;
	justify-content: space-between;
	/* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 25px;
}

.content2-laporan {
	width: 100%;
	height: auto;
	/* min-height: 400px; */
	background-color: #fff;
	display: flex;
	padding: 10px 0px 0px 10px;
	flex-flow: row wrap;
	justify-content: center;
	/* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 25px;
}





/* =========================== perusahaan ============================== */


.row1-perusahaan {
	min-height: 80px;
	height: auto;
	width: 100%;
	/* max-width: 280px; */
	/* background-color: blue !important; */
	display: flex;
	/* flex-flow: row wrap; */
	justify-content: center;
    align-items: center;
    padding: 0px;
}

.row1-perusahaan img {
    width: 150px;
    margin: 0px;
	min-width: 2vw;
	height: auto;
}




/* =========================== profile ============================== */

.list2-profile{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 10px 20px 10px;

}
.box-foto {
	width: 250px;
	height: 280px;
	background-color: #919191;
	border: 5px solid #00A0E8;
	overflow: hidden;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px #555;
}

.box-foto:hover {
	cursor: pointer;
	text-decoration: none;
}

.box-foto img {
	width: 100%;
	min-height: 280px;
	max-height: 280px;
	transition: 0.3s;
}

.box-foto img:hover {
	transform: scale(1.1);
}

.box-profile{
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: #919191;
    border-radius: 5px;
    padding: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

}